*{
    margin: 0px;
}
body{
    background: #EAEAEA;
}
.clearfix{
    clear: both;
    float: none;
    
}
h2{
    font-family: 'Franklin Gothic Medium';
    margin: 15px;
}
#menu{
    border: 1px solid black;
    background: black;
    position: fixed;
    margin-bottom: 10px;
    width: 100%;
    top: 0;
}

#menu h2{
    color: white;
    float: left;
    font-family: 'Lucida Sans';
}

#logo{
    width: 50px;
    height: 50px;
    margin: 5px 15px;
    float: left;
}


#menu ul {
    float: right;
}

#menu ul li{
    display: inline-block;
    margin: 15px 5px;
   
}

#menu ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium';
    padding: 15px;
}
#menu ul li a:hover{
    background: gray;
}

#contenedor{
    margin-top: 100px;
}

section{
    padding-top: 50px; 
}
#inicio{
    margin-top: 20px;
    margin: 10px;
    background: white;
    border: 1px dashed black;
    border-radius: 50px;
    padding: 45px;
}
#inicio h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium';
}
#inicio p{
    text-align: justify;
    padding: 10px;
}

#cajas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.cruciales h2{
    margin-top: 50px;
}

.crucial{
    margin: 20px;
    width: 250px;
    height: 350px;
    text-align: center;
    color: white;
    border: 1px dashed white;
    border-radius: 20px;
    align-items: center;

}
.crucial:hover{
    color: black;
    border: 1px dashed rgb(66, 63, 63);
    background: #F5F5F5;
    box-shadow:  5px 5px 10px #3D3B40;
}

.crucial img{
    margin: 20px;
    margin-bottom: 5px;
    width: 150px;
}

.crucial div{
    margin: 10px;
    text-align: center;
    padding: 5px;
}

.crucial  button{
    margin-bottom: 5px;
    margin-right: 15px;
    float: right;
    border: 1px solid gray;
    width: 50px;
    padding: 4px;
    border-radius: 10px;
    align-self: flex-end;
}
.crucial  button:hover{
    background: #B6BBC4;
    color: white;
    border: 1px dashed white;
}

.titulo{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';

}
.descripcion{
    text-align: justify;
    font-family:  'Arial';
    font-size: 12px;
    margin-top: 5px;
}

.Dean{
    background: #50623A;
}

.Sam{
    background: #6B240C;
}

.Castiel{
    background: #427D9D;
}

.Bobby{
    background: #5C5470;
}

.espada{
    background: #B6BBC4;
}

.colt{
    background: #776B5D;
}

.cuchillo{
    background: #3D3B40;
}

.impala{
    background: black;
}

.cont{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.tempo{
    width: 60%;
}

.tempo article{
    display: flex;
    margin: 10px;
    align-items: center;
}

.tempo article img{
    width: 300px;
    border-radius: 20px;
}

.tempo article div{
    float: right;
    margin: 10px;
    text-align: justify;
}

.momentos {
    width: 35%;
    align-content: center;
    justify-content: center;
    border: 1px dashed black;
    margin-left: 50px;
    background: white;
    border-radius: 20px;
    height: 400px;
    align-self: center;
    line-height: 30px;
}

.momentos nav ol li a{
    text-decoration: none;
    font-family: 'Arial';
    color: #578f95;
}

.momentos nav ol li a:visited{
    color: #513385;
}
.momentos nav ol li a:active{
    color: #46ab7c;
}

.articulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    border:1px dashed white;
    margin: 10px;
    background: #D0D4CA;
    border-radius: 30px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 20px;
}
form button{
    margin: 10px;
    margin-left: 90px;
    width: 130px;
    border-radius: 10px;
    border: 1px solid gray;
    height: 25px;
}
form button:hover{
    border: 1px dashed #50623A;
    background: white;
    color: #50623A;
    height: 25px;
}

.mensajeText{
    display: flex;
    margin: 10px;  
}
.mensajeText input{
    margin-left: 15px;
    width: 230px;
}
.mensajeText textarea{
    margin-left: 10px;
    width: 230px;
    resize: none
}
.mensajeText label{
    font-family: 'Arial';
    font-weight: bold;
    color: white;
}

h3{
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    margin: 10px;
}
.redes{
    width: 45%;
    background: #F8F6F4;
    margin: 15px;
    border:1px dashed white;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}
.redes h3{
    margin: 20px;
}

.redes .logos{
    width: 100%;
    height: 150px;
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    font-family: "Arial";
}

.redes .logos div{
    width: 100%;
    text-align: center;
    align-items: center;
    margin: 5px;
}
.redes .logos img{
    width: 50px;
}
.redes .logos img:hover{
    border-radius: 100%;
    box-shadow: 5px 5px 10px  #5C5470;
}


@media (max-width: 1025px){
    .momentos {
        width: 32%;
        height:auto;
        padding: 5px;
    }
    .articulo{
        width: 49%;
    }
}

@media (max-width: 980px){
    .tempo article img{
        width: 220px;
        border-radius: 20px;
    }
    .momentos {
        width: 30%;
        height:auto;
        padding: 5px;
    }
    .articulo{
        width: 45%;
    }
    
    .redes .logos{
        width: 100%;
        display: flexbox;
        flex-wrap: wrap;
        margin: 5px;
        align-items: center;
        justify-content: center;
    }

    .redes .logos div{
        width: 40%;
        margin-top: 10px;
    }
    form button{
       margin-left: 0px;
    }
}

@media (max-width: 720px){
    .tempo{
        width: 95%;
    }
    .tempo article{
        width: 100%;
    }
    .tempo article div{
       width: 100%;
    }
    .momentos {
        margin-left: 20px;
        margin-top: 20px;
        width: 88%;
        height:auto;
        padding: 10px;
    }
    
    .redes .logos{
        width: 100%;
        display: flexbox;
        flex-wrap: wrap;
        margin: 5px;
        align-items: center;
        justify-content: center;
    }


    .articulo{
        width: 98%;
    }
    .redes{
        width: 98%;
        height: auto;
        padding: 20px;
        align-items: center;
    }

    .redes .logos{
        padding: 20px;
        margin: 0;
    }
    .redes h3{
        margin: 5px;    
        margin-left: 35px;
    }
    
    form button{
        margin-left: 80px;
    }

    #inicio{
        padding-top: 100px;
    }
}

@media (max-width: 630px){
    #menu ul li a{
        font-size: 14px;
    }
    #menu ul{
        justify-self: center;
        float: left;
        margin: 0px;
        margin-bottom: 5px;
    }
    #menu ul li{
        margin: 2px;
        padding: 2px;
    }
    #menu ul li a{
        margin: 0px;
    }
    #menu ul li a:hover{
        margin: 2px;
        background: #3D3B40;
    }
}